<nav>
  <%= link_to 'New Beer club', new_beer_club_path %>
</nav>
<h2>List of beer clubs</h2>
    <ul>
    <% @beer_clubs.each do |beer_club| %>


     <li><%= link_to beer_club.name, beer_club_path(beer_club) %>, <%= beer_club.city %><%= link_to 'Destroy',beer_club, method: :delete, data: { confirm: 'Are you sure?' } %></li>

    <% end %>
</ul>

<br>

