<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th>Average</th>
  </tr>
  </thead>

  <tbody>
  <% toplist.each do |key,average| %>
      <tr>
        <td><%= link_to key,key %></td>
        <td><%= average %></td>
      </tr>
  <% end %>
  </tbody>
</table>